html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}
header {
    margin: 0;
    padding-bottom: 5px;
}

header h1 {
    margin-top: 0px;
    text-align: center;	
    padding-right: 10px;
    display: flex;
    flex: 1; 
}

h1 a {
    text-decoration: none;
    border-width: 0px 5px 1px 0px;
    border-color: white;
    border-style: none solid solid none;
    padding: 0 5px 5px 0;
    margin-left: 0px;
    color: white;
}

h1 a:not(:first-child){
    padding-left: 5px;
}


h1 a:hover{
    color: darkred; 
}

p {
    color:white /* Black background */
}
